{
  "extends": "google",
  "env": {
    "browser": true
  },
  "rules": {
    "no-warning-comments": "off",
    "no-unused-vars": ["error", {
      "vars": "all",
      "args": "after-used",
      "argsIgnorePattern": "^var_args$"
    }]
  },
  "globals": {
    "ga": true,
    "window": true
  }
}
